body{
            font: 12px verdana, sans-serif; 
            margin: 0px;
            background-color: #dd65b9;
            overflow: scroll;
            background-image: url("https://orig00.deviantart.net/b7e5/f/2010/004/4/4/the_fox_dog_by_nightmarenurse.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
        .header{
            padding: 1px 0;
            background-color: #c6d883;
        }
        h1 {
        	text-align: center;
        	font-size: 40px;
        	color: purple;
        }
         ul{
            list-style: none; 
            padding: 0px; 
            margin: 0px;
            font-weight: bold;
        }
         ul li{
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
         ul li a{
            color: #3d677e;
        }
         ul li a:hover{
            text-decoration: none;
        }
       .content{
            float: left;
            width: 50%;
            min-height: 100px;
        }
        .content .section{
            padding: 10px;
        }
        .content h2{
        	text-align: center; 
        	color: white;	
        }
         h3{
        	text-align: left;
        	color: white;
        	padding: 30px;
        }
         h4{
        	text-align: center;
        	color: white;
        	margin: 15px;
        	padding: 5px;
        }
        h5{
        	text-align: justify;
        	font-size: 20px;
        }
        .clearfix{
            clear: both;
        }
        .footer{
            background-color: #e3456f; 
            padding: 10px 0;
        }
        .one{
        	text-align: right;
        	font-weight: bold;
        }
        .two{
        	text-align: center;
        	color: white;
        }
        .three{
         text-align: left;
         color: white;
         margin: 30px;
        }
        .four{
        	text-align: center;
        	color: white;
         
        }
        .five{
        	text-align: justify;
        	font-weight: bold;
        }
        .six{
        	text-align: right;
        	font-weight: bold;
        }
        .seven{
        	text-align: center;
        }
        div.gallery {
            margin: 2px;
            border: 2px solid #ccc;
            float: right;
            width: 10%;
        }

        div.gallery:hover {
           border: 1px solid #777;
        }

        div.gallery img {
          width: 100%;
          height: auto;
        }

        div.desc {
        padding: 15px;
        text-align: center;
        }
